\#init.el#
..custom.el.~undo-tree~
.README.org.~undo-tree~
.custom.el~
README.el
README.org~
init.el~
org-roam.db
\#.gitignore#
undo-tree/*
auto-save-list/
backups/
elpa/
elpy/
eshell/
.lsp-session-v1
/anaconda-mode/
/url/
recentf
transient/*
company-statistics-cache.el
